# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        goos: [linux]
        goarch: [amd64]
        include:
          - goos: linux
            goarch: amd64
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.5'

    - name: Build
      run: go build -o taktool

    - name: Upload to nexus
      shell: bash
      env:
          NEXUS_BASE_URL: ${{ secrets.NEXUS_BASE_URL }}
          NEXUS_REPOSITORY: ${{ secrets.NEXUS_REPOSITORY }}
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      run: |
        set -euo pipefail


        # Upload each packaged artifact into a versioned path:
        # /repository/<repo>/yourapp/<version>/<filename>
        for file in taktool; do
          filename="$(basename "$file")"
          upload_url="${NEXUS_BASE_URL}/repository/${NEXUS_REPOSITORY}/${filename}"
          echo "Uploading $filename -> $upload_url"

          curl -f -u "${NEXUS_USERNAME}:${NEXUS_PASSWORD}" \
              --upload-file "$file" \
              "$upload_url"
        done